{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}


{% block content %}
<h2 style="color: rgb(187, 36, 187);">Welcome to Student Management System</h2>
<a href="/">Index</a>
<a href="contact">Contact</a>
<a href="list">List</a>
<a href="add">Add Student</a>



<p style="color: rgb(121, 19, 60);">This page inherits the header,navbar,sidebar and footer from <b>base.html</b>.</p>
<button class="btn_custom" onClick="showmessage();">Demo Static </button>

<h4>Student Details</h4>
<img src="{% static 'images/devanshi.jpg' %}" alt="student image">

<p>Name : {{data.name}}</p>
<p>Course : {{data.course|upper}}</p>
<p>college : {{data.college|upper}}</p>

<h4 class="mt-4">course list</h4>
<!-- <ul>
    {% for subject in subject_list %}
    <li>{{subject}}</li>
    {% endfor %}
</ul> -->

<ul>
    {% for subject in subject_list %}
    <li>
        {{subject}}
        {% if subject == 'agile' %}
        <span style="color:green">interesting subject </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if marks >= 75 %}
<h2>Distinction</h2>
{% elif marks >= 60 %}
<h2>First Class </h2>
{% elif marks >= 35 %}
<h2>Pass</h2>
{% else %}
<h2>Fail</h2>
{% endif %}
<a href="about">Learn more </a>

{% endblock %}